// banner //

.banner {
    background-position: center center !important;
    background-size: cover !important;
    position: relative;
    padding-top: 30px;
    &.no-bg {
        background: $navy !important;
        p, h1 {
            color: $white !important;
        }
        .column-66 {
            width: 100%;
            p, h1 {
                text-align: center;
                margin: 0 auto;
                @include respond(tab-port) {
                    text-align: left;
                }
            }
            p {
                margin-bottom: 48px !important;
            }
            .main-contact {
                justify-content: center;
                align-items: center;
                gap: 24px;
                @include respond(tab-port) {
                    justify-content: flex-start;
                }
                .contact-block-left {
                    margin: 0 !important;
                }
                .contact-block-right {
                    width: fit-content;
                    margin: 0 !important;
                    p {
                        margin: 0 !important;
                    }
                }
                a {
                    margin: 0 !important;
                }
            }
        }
    }

    .column-66,
    .column-50 {
        display:block;

        &.result {
            width:50%;

            @include respond(tab-port) {
                width:100%;
                margin-top: 50px;
                margin-bottom: 90px;
            }
            
            .result-main {
                background:$white;
                padding:5% 8%;

                p {
                    color:$blk;
                    max-width: 100%;
                    margin-bottom: 0;

                    &.notable {
                        font-size: 14px;
                        font-weight: normal;
                        letter-spacing: 3px;
                        margin-bottom: 10px;
                        font-family: $sans;
                        color: $green !important;
                        font-size: 20px;
                    }
                }
            }

            .accordions {
                border-bottom: none;
                position: absolute;
                width: 100%;

                &_title  {
                    padding: 0 30px !important;
                    height: 70px;
                    justify-content: flex-end;
                    align-items: center;
                    display: flex;
                    width: 100%;
                    box-sizing: border-box;

                    &.active {
                        span {
                            &::after {
                                rotate: 45deg;
                            }
                        }
                    }

                    p {
                        margin-bottom: 0;
                        display: flex;

                        span {
                            &::after {
                                content: "+";
                                display: inline-block;
                                transition: 0.2s linear;
                                font-size: 16px;
                                position: relative;
                                color: #fff;
                                font-size: 24px;
                                margin-left: 15px;
                                font-weight: bolder;
                                top:auto;
                                transition: $trans;
                            }
                        }
                    }
                }

                &_content {
                    display: none;
                    padding: 0px 8% 20px;
                    text-align: left;
                    width: 100%;
                    box-sizing: border-box;

                    p {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    #breadcrumbs {
        span, a {
            color: $white !important;
            font-family: $sans !important;
            font-size: 14px !important;
            font-weight: $bold !important;

        }
        span {
            span {
                margin: 0 5px;
            }
        }
        a {
            text-decoration-color: $red !important;
            &:hover {
                text-decoration-color: $white !important;
            }
        }
        .separator {
            position: relative;
            width: 5px;
            height: 5px;
            transform: rotate(-90deg);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            &:after {
                font-family: $icomoon;
                content: "\e900";
                font-size: 14px;
            }
        }
        .breadcrumb_last {
            color: $ltgrey !important;
        }
    }

    h1 {
        text-transform: none;
        font-size: 60px;
        color:$white;
        line-height: 120%;

        @include respond(tab-land) {
            font-size: 54px;
        }

        @include respond(tab-port) {
            font-size: 48px;
        }

        @include respond(phone) {
            font-size: 42px;
        }
    }

    p {
        color:$white !important;
        @include respond (tab-land) {
            max-width: 100%;
        }

        &.cta {
            font-weight: bold;
            margin-bottom: 15px;
        }

        &.blog-date {
            margin-bottom: 10px;
        }
    }

    @include contact-block;

    .banner-gradient {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }
}

// awards //

.awards {
    padding: 50px 0;
    position: relative;
    margin-top: 60px;
    
    .container {        
        .columns {
            justify-content: center;
            
            .column-full {
                justify-content: center;
                align-items: center;

                @include respond(phone) {
                    flex-direction: column;
                }

                .award-img {
                    max-height: 100px;
                    max-width: 250px;
                    height: auto;
                    margin:10px 20px;

                    @include respond(phone) {
                        margin:20px auto;
                    }
                }
            }
        }
    }
}

// sidebar //

.sidebar-block {
    @include respond(tab-port) {
        margin-top: 30px;
    }

    p.sidebar-more {
        transition:$trans;
        
        a {
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }

        span {
            rotate:-90deg;
            display:inline-block;
            font-size: 12px;
            margin-left: 5px;
            transition:$trans;
        }
    }
    

    .sidebar-spacer {
        height:1px;
        display: block;
        margin: 40px 0;
        width: 100%;
    }

    .sidebar-header {
        display: inline-block;
        font-size: 14px;
        font-family: 'Open Sans',sans-serif;
        font-weight: bold;
        padding: 10px 30px;
        margin-bottom: 20px;
    }
    
    .testimonial-block {
        padding: 32px;
        box-sizing: border-box;
        background: $blueprimary !important;
        .stars {
            margin-bottom: 24px;
        }
        p {
            color: $white;
            &.testimonial {
                @include testimonial;
                font-size: 24px !important;
                @include respond(tab-land) {
                    font-size: 20px !important;
                }
            }
            &:not(.testimonial) {
                @include button;
                text-transform: uppercase;
                position: relative;
                padding-left: 20px;
                display: flex;
                align-items: center;
                margin-bottom: 0 !important;
                &:after {
                    content: "";
                    height: 2px;
                    width: 12px;
                    background: $white;
                    position: absolute;
                    left: 0;
                }
            }
        }
        @include respond(phone) {
            padding:30px;
        }

        p {
            margin-bottom: 0;

            &.testimonial {
                font-size:16px;
                margin-bottom: 40px;
                font-weight: normal;
                line-height: 145%;
            }
        }
    }

    .result-block {
        background: $reddark;
        padding: 30px;
        margin-top: 16px;
        p {
            &.eyebrow {
                color: $bluebright !important;
            }
            &.large {
                @include headings;
                color: $white !important;
            }
            &.result {
                margin-bottom: 0;
                color: $white !important;
            }
            &.sidebar-more {
                a {
                    color: $white !important;
                }
            }
        }
    }

    .sidebar-menu {
        margin-top: 16px;
        background: $navy;
        padding: 30px;
        .eyebrow {
            color: $bluebright!important;
        }
        #menu-practice-areas-menu, #menu-practice-areas {
            list-style-type: none;
            margin: 0 !important;

            li {
                margin: 0 0 12px 0 !important;
                border-bottom: solid 1px $white;
                &:hover {
                    border-color: $bluebright;
                    a {
                        &:after {
                            color: $bluebright;
                        }
                    }
                }
                a {
                    display: block;
                    font-size: 16px;
                    padding: 10px 0;
                    line-height: 100%;
                    position: relative;
                    text-decoration: none !important;
                    color: $white !important;
                    padding: 0 !important;
                    margin: 0 !important;
                    &::after {
                        content:"\e901";
                        font-family: $icomoon;
                        display:inline-block;
                        font-size: 16px;
                        margin-left: 5px;
                        position: absolute;
                        right:0;
                    }
                }

                &.current_page_item {
                    a {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

// practice area parent blocks 

#testimonial {
    
    p.testimonial-callout {
        font-size: 44px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        line-height: 115%;
    }

    .author {
        display: flex;
        align-items: center;

        img {
            max-height: 50px;
        }

        .separator {
            width: 1px;
            height: 40px;
            margin: 0 20px;
            border-left: 1px solid $white;
        }

        p {
            margin-bottom: 0;
        }
    }
}

#pre-footer {
    background: $reddark !important;
    padding: 80px 60px;
    @include respond(phone) {
        padding: 30px;
    }
    p, h2, a:not(.btn) {
        color: $white !important;
    }
    .form-title-wrapper {
        h4 {
            color: $blueprimary !important;
            text-transform: uppercase;
        }
    }
    .columns {
        align-items: center;
        .column-50 {
            &:last-of-type {
                .form-title-wrapper {
                    width: 100%;
                }
            }
        }
    }
}

@include awards-slider;