/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package Postali Child
 * @author Postali LLC
*/



/* Admin Nav Bar */
#wpadminbar {
    #wp-admin-bar-root-default {
        margin: 0 !important;
        li {
            a {
                margin: 0 !important;
                font-weight: $normal !important;
                text-decoration: none !important;
            }
        }
    }
}
/* /Admin Nav Bar */


html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
	border: 0;
}

html, body {
	font-size: 18px;
	line-height: 1;
    scroll-behavior: smooth;
}

header, nav, footer, article, section { 
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: bold;
    margin:0;
}

ul {
	list-style-type: disc;
	margin-left:20px;
}

ol {
	margin-left:20px;
}

blockquote {
	quotes: none;
	&:before, &:after {
		content: '';
		content: none;
	}
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}
 
body {
	background:$white;
}

.custom-logo-link {
    img {
        max-height: 65px;
        width: auto;
    }
}

.body-container {
    margin-top: 91px;

    p a,
    ul li a {
        color:#0f1d43;
        text-decoration: underline;

        &:hover {
            color:#0f1d43;
            text-decoration: none;
        }
    }

    @include respond(tab-land) {
		margin-top:76px;
	}

    .main-content {
        h2 {
            &:first-of-type {
                margin-top: 0 !important;
            }
        }

        h2,
        h3,
        h4 {
            a {
                font-family: inherit;
                font-size: inherit;
                color:inherit;
                text-decoration: underline;
            }
        }

        a {
            &:not(.btn):not(.phone):not(.email):not(.more-results-link) {
                color: $navy !important;
            }
            h2 {
                text-decoration: none;
            }

            &:hover {
                h2 {
                    text-decoration:underline;
                }
            }
        }

        .btn {
            margin-top: 20px;
        }

        .column-33 {
            @include respond(tab-port) {
                margin-top: 60px;
            }
        }
    }
}

.container {
    max-width:$container-max-width;
    padding: 0 60px;
	z-index: 1;
	position: relative;
    &.mobile-no-pad {
        @include respond(tab-port) {
            padding-left: 0;
            padding-right: 0;
            .column-66 {
                padding: 0 60px;
            }
        }
        @include respond(phone) {
            padding-left: 0 !important;
            padding-right: 0 !important;
            .column-66 {
                padding: 0 30px;
            }
        }
    }
	@include respond(desktop-full) {
		padding:0 50px !important;
	}

    @include respond(phone) {
        padding: 0 30px !important;
    }

	&.wide {
		max-width: 100%;
		margin:0 50px;

		@include respond(desktop-full) {
			padding:100px 50px !important;
		}

		@include respond(phone) {
			padding: 60px 30px !important;
			margin:0 30px;
		}
	}

    &.full {
        max-width:100%;
        padding:0 !important;
        margin:0 !important;

        .columns {
            align-items: normal;
            
            .column-50 {
                width: 50%;
                padding:10% 8%;
                box-sizing: border-box;
            }
        }
    }
}

section {
    padding: 80px 0;

    @include respond(phone) {
        padding: 60px 0;
    }
}

// columns and spacers //

.columns {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	align-items: flex-start;

	.column-20,
    .column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
        display:flex;
		position: relative;
		box-sizing: border-box;
		justify-content: flex-start;
		align-items: normal;
		flex-wrap: wrap;
	}

	.column-break { width:100%; height:1px; }
	.column-20 { width:19.5%; }
    .column-25 { width:23%; }
    .column-50 { width:45%; }
    .column-33 { width:30%; }  
    .column-66 { width:63%; }
    .column-75 { width:66%; }
    .column-full { width:100%; justify-content: space-between; }

    .column-20,
	.column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
		@include respond(tab-port) {
			width:100%;
		}
		&.center {
			margin:0 auto;
		}
        &.centered {
			text-align: center;
            justify-content: center;
		}
        &.block {
            display:block;
        }
	}
}

// spacing elements //

.spacer-break,
.spacer-15,
.spacer-30,
.spacer-60,
.spacer-90 {
    display:block;
	width:100%;

	@include respond(phone) {
		&.mobile {
			display:none;
		}
	}
}

.spacer-break { height:1px; }
.spacer-15 { height:15px; }
.spacer-30 { height:30px; }
.spacer-60 { height:60px; }
.spacer-90 { height:90px; }

article {
    border-bottom: 1px solid $blk;
    padding-bottom: 0;
    margin-bottom: 20px;
    width: 100%;
}

.pagination {
    margin: 0 auto;
    .nav-links {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 8px;
    }
    .page-numbers {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        width: 40px;
        height: 40px;
        text-decoration: none !important;
        color: $navy !important;
        font-weight: $normal !important;
        font-size: 20px !important;
        margin: 0 !important;
        border: solid 1px $white;
        &.current {
            color: $white !important;
            background: $blueprimary !important;
            border: solid 1px $blueprimary;
        }
        &.next, &.prev {
            border: solid 1px $dkgrey;
            position: relative;
            &:before {
                content: "";
                font-family: $icomoon;
                font-size: 20px;
                color: $dkgrey !important;
                background: none !important;
            }
        }
        &.next {
            &:before {
                content: "\e907";
            }
        }
        &.prev {
            &:before {
                content: "\e906";
            }
        }
    }
}

.stars {
    &::after {
        position: relative;
        content: "★★★★★";
        margin-bottom: 10px;
        display: block;
        letter-spacing: 5px;
        color: $green;
        font-size: 20px;
    }
}

// accordion styles //

.accordions {
    width:100%;
    position: relative;
    border-bottom: 1px solid $ltgrey;
    margin-bottom: 32px;
    padding-bottom: 32px;
    &_title {
        display: flex;
        cursor: pointer;
        padding: 0 !important;
        transition: 0.3s linear;
        text-align: left;
        align-items: center;
        line-height: 100%;
        position: relative;
        padding-right: 50px;
        &:after {
            content: "\e903";
            font-family: $icomoon;
            color: $red;
            font-size: 30px;
            position: absolute;
            right: 0;
            top: 25px;
        }
        h3 {
            font-size:24px;
            font-weight:700;
            color:$white;
            transition:$trans;
            margin-bottom:0 !important;
            margin-top:0;
			font-family: $serif;
            max-width: 90%;
        }

        span {
            align-self:center;
            justify-self:end;
            display: block;

            &:after {
                content: "+";
                display: inline-block;
                transition:$trans;
                font-size:16px;
                position: absolute;
                color:$white;
                font-size:24px;
                top:20px;
                right:0;
                font-weight: lighter;
            }
        }
        
        &.active {
            &:after {
                content: "\e904";
                top: 15px;
            }

            span {
                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &_content {
        display: none;
		padding: 30px 0 30px;
		text-align: left;
        font-family: $serif;
        width:90%;
        line-height: 170%;

		.headline {
			color: $white;
			font-size: 32px;
			margin-bottom: 20px;
			display: block;
			font-family:$sans;
			font-weight: 700;
		}

        p {
            color:$white;
        }

        ul {
            color:$white;
            margin: 0;

            li {
                margin:0;
            }
        }
    }
}

.two-third-col-image {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-gap: 1em;
    img {
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
    &.reverse {
        grid-template-columns: 66% 33%;
    }
    @include respond(phone) {
        grid-gap: 0.25em;
    }
}

.responsive-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.bg-lt-blue {
    background: $blueprimary;
    h2, p, li, a:not(.btn), span {
        color: $white !important;
    }
}

.bg-blue {
    background: $navy;
    h2,
    p,
    li,
    a:not(.btn),
    span {
        color: $white !important;
    }
}

.bg-red {
    background: $reddark;
    h2, p, li, a:not(.btn), span {
        color: $white !important;
    }
}

.form-title-wrapper {
    background: $white;
    padding: 24px;
    h4.form-title {
        color: $blueprimary !important;
        text-transform: uppercase;
    } 
    .gform_wrapper {
        padding: 0;
    }
}

.gform_wrapper {
    margin: 0 !important;
    .gform_fields {
        gap: 12px !important;
    }
    .gfield_label {
        display: none !important;
    }
    .gfield {
        input,
        textarea {
            @include bodyr;
            border-radius: 0 !important;
            border: solid 1px $ltgrey !important;
            box-shadow: 0 0 0 !important;
            color: $grey300 !important;
            padding: 12px 16px !important;
        }
    }
    textarea {
        height: 100px !important;
    }
    input[type="submit"] {
        background: none !important;
        @include button;
        color: $dkgrey !important;
        border: solid 1px $dkgrey !important;
        border-radius: 0 !important;
        padding: 16px 24px !important;
        text-transform: uppercase !important;
        margin-top: 24px !important;
    }
    input, textarea {
        width: 100% !important;
        box-sizing: border-box !important;
    }
    input {
        margin-bottom: 12px !important;
    }
    .gform_submission_error {
        font-size: 18px !important;
        color: $red !important;
    }
    .gfield_description {
        margin-bottom: 8px !important;
        color: $red !important;
    }
}

.main-contact {
    justify-content: center;
    align-items: center;
    gap: 24px;

    .contact-block-left {
        margin: 0 !important;
    }

    .contact-block-right {
        width: fit-content;
        margin: 0 !important;

        p {
            margin: 0 !important;
        }
    }

    a {
        margin: 0 !important;
    }
}

.stars {
    &:after {
        color: $bluebright;
        font-size: 26px;
    }
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }    
}